body {
    font-family: 'Roboto', sans-serif;
    background: #cce7ff;
    color: #333;
}
header {
    background: #333;
    padding: 1rem;
    color: white;
}
.project img {
    border-radius: 8px;
    border: 2px solid #333;
}
footer {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}